<mat-card class="card-container" *ngFor="let post of posts; let i = index">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle *ngFor="let user of users">
      <ng-template *ngIf="post.userId === user.id">{{user.first_name}}</ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">LIKE
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-raised-button color="primary">DISLIKE
      <mat-icon>thumb_down</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<pre>{{posts | json}}</pre>
<pre>{{users | json}}</pre>