<div class="toolbar-container">
  <mat-toolbar color="primary">
    <div class="toolbar-icon-container" (click)="goHome()">
      <img src="assets/logo.svg" type="image" alt="icon groupomania" class="toolbar-icon">
    </div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="goProfil()">
      <mat-icon color="primary">account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="disconnect()">
      <mat-icon color="primary">power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
</div>