/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-toolbar {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  cursor: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  .form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.card-container {
  max-width: 60%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.form--action{
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.file-input {
  display: none;
}

textarea {
  min-height: 8rem;
}