/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-red, 600);
$my-app-accent:  mat-palette($mat-indigo, 900);
$my-app-warn:    mat-palette($mat-deep-orange, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #1a237e;
}

app-toolbar {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  overflow: hidden;
  .toolbar-container {
    .spacer {
      flex: 1 1 auto;
    }
    .toolbar__title {
      cursor: pointer;
    }
  }
  .mat-toolbar.mat-primary {
    background-color: white;
  }
}

a {
  text-decoration: none;
  color: black;
  cursor: auto;
}

.home-tab-group {
  background-color: white;
  min-height: 90vh;
}

.login-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  .form-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.card-container {
  max-width: 60%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  .card-action {
    &__likes {
      margin-left: .5rem;
    }
    &__actions {
      margin-right: .5rem;
    }
  }
}

.form--action{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.file-input {
  display: none;
}

.txtarea {
  &--post {
    min-height: 8rem;
  }
}

.toolbar-icon-container {
  cursor: pointer;
}

.toolbar-icon {
  width: 100%;
}